services:
  server:
    build: ./server
    container_name: server
    ports:
      - "5000:5000"
    volumes:
      - ./models:/app/models
      - ./shared:/app/shared
    healthcheck:
      test: ["CMD-SHELL", "curl -v -f http://127.0.0.1:5000/health"]
      start_period: 1s
      interval: 30s
      retries: 2

  client:
    build: ./client
    container_name: client
    depends_on:
      server:
        condition: service_healthy
    volumes:
      - ./shared:/app/shared
      - ./client/data:/app/data
